<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title> Index </title>
    <link rel ="stylesheet" href="/static/css/style.css">
    <link rel ="icon" type="image/x-icon"href="/static/images/sumapaz.ico">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">


</head>
<body>
  <header class="menu-horizontal-estudiante">
      <div class="wrapper">
          <div class="panel_tit">
              <img class="img_panel"src="/static/images/sumapaz.png">
              <a class="titulo-institucion-estudiante">Institución Educativa Tecnica sumapaz</a>

          </div>
          <div class="panel_horizontal">
              <a  class="btns_panel" href="/login">Ingresar</a>
        </div>
      </div>
  </header>

    <div class="cont">
        <br><br><a class="titulo_index">APLICATIVO WEB PARA PRESENTACION DE PRUEBAS INSTITUCIONALES DE LA INSTITUCIÓN EDUCATIVA TECNICA SUMAPAZ</a><br><br><br><br>

        <p class="text_index">
            Este proyecto se plantea desarrollar para la realizacion de pruebas Institucionales de la I.E.T.S <br>
            de una manera tecnologica y con los componentes necesarios para una correcta implementacion, <br>
            se busca reducir costos a los estudiantes y padres de familia de la institucion ya que al hacerse <br>
            de forma virtual no se gastara dinero en fotocopias y de la misma forma estamos trabajando <br>
            de la mano del ambiente pues se evitaran mas de 100 mil hojas que aproximadamente <br>
            son utilizadas cada vez que se realizas estas pruebas.<br>

        </p>
        <table id="list-categorias" class="table table-hover" name="categorias-tab" required="required">
              <tbody>
                <tr>
                    <td >

                          <img class="cole" src="/static/images/campe-aerea.JPG">
                          <img class="cole" src="/static/images/estudiantes.jpg">
                          <img class="cole" src="/static/images/sede.jpg">
                    </td>
                  </tr>
              </tbody>
            </table>

    </div>
    <div class="pie">
         <a class="div_copy">&copy; 2017 Colegio Sumapaz Campestre .Todos los Derechos Reservados</a>.
    </div>

</body>

<script src="/static/js/jquery-latest.js"></script>
<script src="/static/js/header.js"></script>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/plugins/morris/raphael.min.js"></script>
<script src="/static/js/funciones.js"></script>
</html>
