{% extends 'template_docentes.html' %}
{% block titulo %}Reportes{% endblock  %}
{% block content %}

    <div class="contenido_docente">

          <h1 class="tit-grados">REPORTE</h1>
          {% if mens != "" %}
            <a class="user_dupl">!No hay reportes que coincidan con la busqueda¡</a>
          {% endif %}
          <table id="list-categorias" class="table table-hover" name="categorias-tab" required="required" style="display:none">
                <tbody>
                  <tr id="tab_rep">
                    <td id="tab_rep">
                      <a class="tit_rep" onclick="mostrarR1();"><div class="R1" >
                        Reporte <br>
                        Materia/Grado <span class="icon-pie-chart"></span>
                      </div></a>

                    </td>
                    <td id="tab_rep">
                      <a class="tit_rep"onclick="mostrarR2();"><div class="R1" >
                        Reporte <br>
                        Grado <span class="icon-pie-chart"></span>
                      </div></a>
                    </td>

                </tr>
            </tbody>
          </table>
          <br><br><br><div id="report_materia" style="display:block">
            <form action="{% url 'get_report' %}" method="post" id="form_editar">
              {% csrf_token %}
              <a class="rep_lab">Grado:</a>
              <select  class="select-exam"id="Grados" name="Grados" required>
                  <option value="">Grado</option>
                  {% for row in grados %}
                         <option value="{{ row.id }}"> {{ row.nombre }} {{ row.jornada }}</option>
                  {% endfor %}
              </select>
              <a class="rep_lab">Materia:</a>
              <select  class="select-exam"id="Materias" name="Materias" required>
                  <option value="">Materia</option>
                  {% for row in materias %}
                         <option value="{{ row.id }}"> {{ row.nombre }} </option>
                  {% endfor %}
              </select>
              <a class="rep_lab">Periodo:</a>
              <select class="select-exam" id="Periodo" name="Periodo" required>
                    <option value = "A">A</option>
                    <option value = "B">B</option>
              </select>
              <a class="rep_lab">Año:</a>
              <select class="select-exam" id="Año" name="Año" required>
                {% for row in años %}
                  {% if row.año == e.year  %}
                   <option class="opt-selects"  value="{{ row.año }}"> {{ row.año }}</option>
                  {% endif %}
                {% endfor %}
                {% for r in años %}
                   <option class="opt-selects"  value="{{ r.año }}"> {{ r.año }}</option>
                {% endfor %}
              </select><br><br><br><br>
              <button class="btn_fold_grupo" type="submit"><span class="icon-search"></span> Buscar</button>
            </form><br><br><br><br>
          </div>
          <div id="report_grado" style="display:none">
            <form action="{% url 'grgrado' %}" method="post" id="form_editar">
              {% csrf_token %}

              <select  class="select-exam"id="Grados" name="Grados" required>
                  <option value="">Grado</option>
                  {% for row in grados %}
                         <option value="{{ row.id }}"> {{ row.nombre }} {{ row.jornada }}</option>
                  {% endfor %}
              </select>

              <button class="btn_fold_grupo" type="submit"><span class="icon-search"></span> Buscar</button>
            </form><br><br><br><br>
          </div>
<script type="text/javascript">
    function gId(id)
    {
        return document.getElementById(id);
    }
    function mostrarR1() {
      gId("report_materia").style.display = "block";
    }
    function mostrarR2() {
      gId("report_grado").style.display = "block";
    }
    function mostrarR3() {

    }
</script>
{% endblock %}
