<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{% block titulo %} {% endblock %} </title>
    <link rel ="stylesheet" href="/static/css/style.css">
    <link rel ="stylesheet" href="/static/vendor/bootstrap-3.3.6/dist/css/bootstrap.min.css">


</head>
<body>



    <header>
        <div class="wrapper">
            <div class="log">
                <img src="/static/images/sumapaz.png">
                <a>Institucion Educativa Tecnica sumapaz</a>

            </div>
            <div class="btns">
                <a href="#">Salir</a>
                <a href="#">Reportes</a>
                <a href="#">Agregar</a>
                <a href="#">Perfil</a>
          </div>
        </div>
    </header>

    <script src="/static/js/jquery-latest.js"></script>
    <script src="/static/js/header.js"></script>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/plugins/morris/raphael.min.js"></script>
{% block content %}
{% endblock %}

</body>
</html>